{% extends 'layout_admin.html' %}

{% block title %}Admin Profile{% endblock %}

{% block content %}
<h2>Edit My Profile</h2>
<div>
   <form action="/profile/edit/update" method="POST">
    <table>
        <tr>
            <td>First Name:</td>
            <td><input type="text" name="firstname" value="{{account[7]}}"></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" name="lastname" value="{{account[8]}}"></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" name="address" value="{{account[9]}}"></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" name="phone" value="{{account[10]}}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="email" value="{{account[3]}}"></td>
        </tr>
    </table>
    <input type="submit">
   </form>
  
  
   
</div>
{% endblock %}