{% extends 'layout_admin.html' %}

{% block title %}Manage Cars Admin{% endblock %}

{% block content %}


    <h2>Manage Cars</h2>
   
    
    <div class="content">
        <h3 align="center">List of Cars</h3> 
            
        <form action="/staff/managecars/add" method="POST" align="center">
            <button type="submit" class="btn btn-success">Add Car</button>
        </form>
          
      <table>
        <tr><th>Number Plate</th><th>Model</th><th>Seating Capacity</th><th>Year</th><th>Status</th><th>Rental Per Day (NZD)</th><th>Image</th></tr>
        {% for car in carlist%}
        <tr>
            <td>{{car[1]}}</td><td>{{car[2]}}</td><td>{{car[3]}}</td><td>{{car[4]}}</td><td>{{car[5]}}</td><td>{{car[6]}}</td><td>Image not available</td>
            <td>
                <form action="/staff/managecars/edit" method="POST">
                    <input type="hidden" name="carid" value="{{car[0]}}">
                    <button type="submit" class="btn btn-link">Edit</button>
                </form>
            </td>
            <td>
                <form action="/staff/managecars/delete" method="POST">
                    <input type="hidden" name="carid" value="{{car[0]}}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    



{% endblock %}