{% extends 'layout_admin.html' %}

{% block title %}Manage Staff Admin{% endblock %}

{% block content %}


    <h2>Manage Staff</h2>
   
    
    <div class="content">
        <h3 align="center">List of Staff</h3> 
            
        <form action="/admin/managestaff/add" method="POST" align="center">
            <button type="submit">Add Staff</button>
        </form>
          
        <table>
        <tr><th>User Name</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Phone</th><th>Address</th><th>Role</th></tr>
        {% for staff in stafflist%}
        <tr>
            <td>{{staff[1]}}</td><td>{{staff[7]}}</td><td>{{staff[8]}}</td><td>{{staff[3]}}</td><td>{{staff[10]}}</td><td>{{staff[9]}}</td><td>{{staff[4]}}</td>
            <td>
                <form action="/admin/managestaff/edit" method="POST">
                    <input type="hidden" name="userid" value="{{staff[0]}}">
                    <button type="submit" class="btn btn-link">Edit</button>
                </form>
            </td>
            <td>
                <form action="/admin/managestaff/delete" method="POST">
                    <input type="hidden" name="userid" value="{{staff[0]}}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
       </table>
    </div>
    



{% endblock %}