{% extends 'layout_admin.html' %}

{% block title %}Admin Profile{% endblock %}

{% block content %}
<h2>Admin Profile</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account[1] }}</td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td>
                 {{ account[7] }}
            </td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>{{ account[8] }}</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>{{ account[9] }}</td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td>{{ account[10] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ account[2] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account[3] }}</td>
        </tr>
        <tr>
            <td>Role:</td>
            <td>{{ account[4] }}</td>
        </tr>
    </table>
    <form action="/profile/edit" method="POST" align="center">
        <button type="submit" class="btn btn-link"> Update</button>
    </form>
    <p>
          
    </p>
    <form action="/profile/changepassword" method="POST" align="center">
        <button type="submit" class="btn btn-link">Change My Password</button>
    </form>    
    
   
</div>
{% endblock %}