{% extends 'layout_staff.html' %}

{% block title %}View Customers{% endblock %}

{% block content %}


    <h2>View Customers</h2>
    
    <div class="content">
        <h3 align="center">List of Customers</h3>
      <table  class="table table-striped table-hover">
        <tr><th>User Name</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Phone</th><th>Address</th></tr>
        {% for customer in customerlist %}
        <tr><td>{{customer[1]}}</td><td>{{customer[7]}}</td><td>{{customer[8]}}</td><td>{{customer[3]}}</td><td>{{customer[10]}}</td>
            <td>{{customer[9]}}</td>
        </tr>
        {% endfor %}
      </table>
    <p>* "None" cell has no corresponding information stored. Please remind the customers to update profile information.</p>

    </div>
    



{% endblock %}